body {
    background-color: lightblue;
}

h3 {
    font-size: 24px;
    color: black;
}

h4 {
    font-size: 16px;
    color: black;
}

#jumbotron {
    /*background-color: rgb(51, 49, 49);*/
    /*background: url(images_here_or_there/hotbg4.jpg);*/
    background-size: cover;
    color: white;
    /* margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto; */
    font-family: Arial, Helvetica, sans-serif;
    animation-name: header;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    width: 100%;
    /* height: 800px; */
}

img {
    max-height: 400px;
}

@keyframes header {
    from {
        color: rgb(248, 8, 8);
    }
    to {
        color: blue;
    }
}

#jumboH1 {
    text-align: center;
    font-weight: 900;
    font-size: 60px;
}

#jumboP {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: 30px;
}

#search {
    margin: auto;
}

#btn1, #btn2 {
    background-color: rgb(27, 86, 175);
    color: white;
    font-weight: bold;
}

#weather1, #weather2, #city1, #city2 {
    font-weight: bold;
}

#weatherCSS1 {
    background-color: rgb(235, 232, 240);
    color: black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#weatherCSS2 {
    background-color: rgb(235, 232, 240);
    color: black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

/* #info1, #info2 {
    font-size: 14px;
} */
#cityCSS1 {
    /* background-color: rgb(192, 194, 206); */
    background-color: white;
    color: black;
    height: 300px;
    overflow: scroll;
    opacity: 0.6;
    filter: alpha(opacity=60);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px 0px 0px 0px;
}

#cityCSS2 {
    /* background-color: rgb(216, 212, 224); */
    background-color: white;
    color: black;
    height: 300px;
    overflow: scroll;
    opacity: 0.6;
    filter: alpha(opacity=60);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px 0px 0px 0px;
}
/* .row {
    margin-right: -80px;
    margin-left: -5px;
} */


#giph {
    /*margin: auto;*/
    color: rgb(255, 255, 255);
    box-shadow: 0 20px 20px 0 rgba(240, 234, 234, 0.2), 0 20px 20px 0 rgba(243, 238, 238, 0.19);
    opacity: 0.6;
    filter: alpha(opacity=60);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border-radius: 15px 50px; */
}

#giph1 {
    background-color: white;
    border: 1px solid rgb(230, 224, 224);
    /*padding: 100px;*/
    height: 300px;
    /* width: 705px; */
    opacity: 0.9;
    filter: alpha(opacity=90);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
#giph2 {
   background-color: white;
   border: 1px solid rgb(230, 224, 224);
   /* padding: 100px; */
   margin-right: auto;
   height: 300px;
   /* width: 705px; */
   opacity: 0.9;
   filter: alpha(opacity=90);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 10px;
   }

   /* Kamal's css */
   .image_city{
       padding:10px;
       width:100%;
       height:100%;
       border-radius:20px;
   }
   /* end of kamal's css */

.footer-copyright {
    text-align: center;
    padding: 10px;
    background-color: rgb(85, 98, 104);
    color: white;
    /*position: absolute;*/
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
}


/* Deb revised CSS on 2.2.18 */